<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:insert="~{layout/header::header}"></th:block>
	<h1>게시판 페이지</h1>
	<table>
		<thead>
			<tr>
				<th>글 번호</th>
				<th>제목</th>
				<th>조회수</th>
				<th>작성자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="plist:${pageList}">
				<td th:text="${plist.no}">글 번호</td>
				<td th:text="${plist.title}">제목</td>
				<td th:text="${plist.readCount}">조회수</td>
				<td th:text="${plist.writer}">작성자</td>
			</tr>
		</tbody>
	</table>
	<div>
		<a th:if="${pu.from>1}" th:href="|/board?page=${1}|">
			<button>&lt;&lt;</button>
		</a>
		<a th:if="${pu.from>1}" th:href="|/board?page=${pu.from-1}|">
			<button>&lt;</button>
		</a>
		<a class="btn-page" th:each="pno:${#numbers.sequence(pu.from,pu.to)}" th:href="|/board?page=${pno}|" >
			<button th:text="${pno}"></button>
		</a>
		<a th:if="${pu.to < pu.tot}" th:href="|/board?page=${pu.to+1}|">
			<button>&gt;</button>
		</a>
		<a th:if="${pu.to < pu.tot}" th:href="|/board?page=${pu.tot}|">
			<button>&gt;&gt;</button>
		</a>
	</div>
</body>
</html>